/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: rgb(124, 121, 121);
  font-size: 0.9rem;
  margin: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.5rem;
}

#favorited-stories,
#my-stories {
  list-style: none;
  padding-left: 1rem;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.star,
.trash-can {
  font-size: 0.8rem;
  margin: 0;
  cursor: pointer;
}

.trash-can:hover {
  color: red;
}

.story-link {
  color: black;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  font-size: 0.9rem;
  color: #7ebc89;
  padding: 6px 0;
}

.story-user {
  display: block;
  margin-top: 0.5rem;
  margin-left: 2em;
  font-size: 0.9rem;
  color: #fe5d26;
}
